<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SURVEYS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="col-xs-6 text-right navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SURVEYS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <div class="text-center navbar-collapse collapse">
                <ul class="col-xs-12 nav navbar-nav">
                    <li class="col-xs-6 text-center">@Html.ActionLink("TAKE a SURVEY NOW", "Index", "Home")</li>
                    <li class="col-xs-6 text-left">@Html.ActionLink("PERCENTAGE RELATION of RESPONSES", "Percentage", "Percentage")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - SURVEYS</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
